<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block title %}
        My Keystroke Authentication App
      {% endblock %}
    </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Keystroke</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
          <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav me-auto">
              <li class="nav-item">
                <a class="nav-link active" href="{{ url_for('main.index') }}">
                  Home
                  <span class="visually-hidden">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('auth.login') }}">Login</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('auth.loginCnn') }}">CNN</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('auth.loginGan') }}">GAN</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('auth.loginLstm') }}">LSTM</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('auth.loginMlp') }}">MLP</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('auth.loginRf') }}">Random - Forest</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="#">About</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <main>
      <div class="container">
        {% block content %}

        {% endblock %}
      </div>
     
    </main>

    <footer class="container text-center">
      <p>&copy; 2024 Keystroke Authentication App</p>
    </footer>

    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
  </body>
</html>
